{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    {% trans %}event.singular{% endtrans %}: {{ event.name }}
{% endblock %}

{% block content %}
<style type="text/css">
    .meetup-show .info {
        margin-bottom: 25px;
    }

    .meetup-show .info td:first-child {
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
    }
</style>
    <div class="meetup-show">
        <h1>{{ event.name }}</h1>

        <table class="info">
            <tr>
                <td>When:</td>
                <td>{{ event.datetime.format('d-m-Y H:s') }}</td>
            </tr>
            <tr>
                <td>Where:</td>
                <td>{{ event.venue.name }}, {{ event.venue.address_1 }} {{ event.venue.city }}</td>
            </tr>
        </table>

        <p>{{ event.description | raw }}</p>
    </div>
{% endblock %}