{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    {% trans %}event.singular{% endtrans %}: {{ event.name }}
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <div class="pull-right">
                    <a href="{{ path('event.show-writeup', {'id': event.id}) }}" class="btn" style="margin-top: 6px;">{% trans %}writeup.view{% endtrans %}</a>
                </div>
                <h2>{{ event.name }}</h2>
            </div>
        </div>

        <div class="meetup-show">
            <table class="info">
                <tr>
                    <td>{% trans %}event.when{% endtrans %}:</td>
                    <td>{{ event.datetime.format('d-m-Y H:s') }}</td>
                </tr>
                <tr>
                    <td>{% trans %}event.where{% endtrans %}:</td>
                    <td>{{ event.venue.name }}, {{ event.venue.address_1 }} {{ event.venue.city }}</td>
                </tr>
                <tr>
                    <td>{% trans %}event.link{% endtrans %}:</td>
                    <td><a href="http://www.meetup.com/SweetlakePHP/events/{{ event.id }}/" target="_blank">{% trans %}event.link{% endtrans %}</a></td>
                </tr>
            </table>

            <p>{{ event.description | raw }}</p>
        </div>
    </div>
{% endblock %}