{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    {% trans %}event.singular{% endtrans %}: {{ event.name }}
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>{{ event.name }}</h2>
            </div>
        </div>

        <div class="meetup-show">
            <table class="info">
                <tr>
                    <td>When:</td>
                    <td>{{ event.datetime.format('d-m-Y H:s') }}</td>
                </tr>
                <tr>
                    <td>Where:</td>
                    <td>{{ event.venue.name }}, {{ event.venue.address_1 }} {{ event.venue.city }}</td>
                </tr>
                <tr>
                    <td>Meetup link:</td>
                    <td><a href="http://www.meetup.com/SweetlakePHP/events/{{ event.id }}/" target="_blank">Meetup link</a></td>
                </tr>
            </table>

            <p>{{ event.description | raw }}</p>
        </div>
    </div>
{% endblock %}